body{
    position: relative;
    padding-top: 60px;
    background-image: url("/admin-files/img/mybg.png");
}

/*************************************************************/
/*************************************************************/
/*************************************************************/

#filtro-noticias{
    margin: 25px 0px 15px;
}

#filtro-noticias a{
    background-color: #d4d4d4;
    text-transform: uppercase;
    border: none;
    margin-right: 6px;
    color: #ffffff;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    display: inline-block;
    position: relative;
    float: left;
    padding: 6px 16px;
    text-decoration: none;
    cursor:pointer;
}

#noticias .thumbnail{
    background-color: #f6f6f6;
    max-height: 455px;
    min-height: 455px;
    padding: 0;
}

#noticias .thumbnail img{
    display: initial;
    margin-top: -40px;
    position: relative;
    width: 100%;
}

#noticias .thumbnail .caption{
    padding: 5px 25px !important;
    text-align: left
}

#eventos .thumbnail{
    background-color: #f6f6f6;
    max-height: 455px;
    min-height: 455px;
    padding: 0;
}

#eventos .thumbnail img{
    display: initial;
    position: relative;
    width: 100%;
}

#eventos .thumbnail .caption{
    padding: 5px 25px !important;
    text-align: left
}


/* HEADER */

.header-wrapper .logo{
    float: left;
    height: 170px;
    margin-top: 30px;
    width: 165px;
}

.header-wrapper .logo img{
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: #002575 !important;
}

@media (max-width: 1199px) {
    #menu .navbar-header {
        float: none;
    }
    #menu .navbar-left,.navbar-right {
        float: none !important;
    }
    #menu  .navbar-toggle {
        display: block;
        margin-top: 20px;
        margin-bottom: 21px;
    }
    #menu .navbar-collapse {
        border-top: 1px solid #002575;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #menu .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    #menu .navbar-collapse.collapse {
        display: none!important;
    }
    #menu .navbar-nav{
        float: none!important;
        margin-top: 7.5px;
    }
    #menu .navbar-nav>li {
        float: none;
    }
    #menu .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #menu .collapse.in{
        display:block !important;
        overflow-y: auto !important; 
    }

    #menu .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #fff;
        border: 0;
        box-shadow: none;
    }
}

@media screen and (min-width:1200px){
    .row{
        margin: 0 !important;
    }

    #menu.navbar{
        border: medium none;
        border-radius: unset;
    }

    #menu .navbar-nav > li > a {
        font: bold 13px/10px "Open Sans",sans-serif !important;
        padding: 32px 11px;
        text-transform: uppercase;
    }

    #menu .navbar-collapse {
        padding: 0 !important;
    }
}


#mainmenu ul li a{
    color: #fff !important;
}


#menu .navbar-nav > li > a {
    color: #fff !important;
    text-transform: uppercase;
    border: 1px solid #002575;
}

#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#menu.navbar .navbar-nav > .active > a,.navbar-nav > li.active > a:focus,.navbar-nav > li > a:focus,.navbar-nav > li > a:hover{
    background-color: #000d5d !important;
    border: 1px solid #00104d !important;
    color: #fff;
}

.head-right{
    float: right;
    width: 250px;
}

.biography-icon {
            background-color: #ffffff;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 50%;
            height: 70px !important;
            left: 50%;
            margin-left: -35px;
            margin-right: auto;
            margin-top: 10px;
            padding: 10px;
            position: absolute;
            width: 70px !important;
            line-height: 70px !important;
            cursor: pointer;
        }

        .biography-ctn {
            background-color: #f6f6f6;
            font-size: 16px;
            margin-top: 50px;
               padding: 20px 20px 60px 20px;
        }
